:root {
    --black: #000;
    --lightgray: #bbb;
    --mediumgray: #444;
    --darkgray: #111;
    --white: #fff;
    --color: #f00;
    --smoke: #000;
    --back: #111;
    --link-fade: 0.2s;
}


@font-face {
    font-family: "LibreBaskerville";
    src: url("./font/LibreBaskerville/LibreBaskerville-Regular.ttf");
}

@font-face {
    font-family: "BerryRotunda";
    src: url("./font/BerryRotunda/BerryRotunda.ttf");
}

body {
    margin : 0;
    width: 100%;
    background-color: var(--back);
    font-family: "LibreBaskerville";
    font-size: 14px;
    overflow-y: scroll;
}

a {
    color: var(--color);
    text-decoration: none;
    transition-duration: var(--link-fade);
}

a:hover {
    color: var(--white);
}

.arrow {
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin: 2px;
}

.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow.up {
    transform: translateY(4px) rotate(-135deg);
    -webkit-transform: translateY(4px) rotate(-135deg);
}

.arrow.down {
    transform: translateY(0px) rotate(45deg);
    -webkit-transform: translateY(0px) rotate(45deg);
}

.smoke {
    background-color: var(--back);
    position: fixed;
    width: 40px;
    height: 100vh;
    margin: 0px;
    display: block;
}

.smoke.left {
    left: calc(50% - 470px);
    transform: scaleX(0.5)
}

.smoke.right {
    right: calc(50% - 470px);
    transform: scaleX(-0.5)
}

.waves {
    position: relative;
    width: 40px;
    height: 100%;
    margin-bottom: -7px;
}

.parallax > use {
    animation: move-forever 2.5s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -4.9s;
    animation-duration: 1.2s;
}

.parallax > use:nth-child(2) {
    animation-delay: -6.3s;
    animation-duration: 2.0s;
}

.parallax > use:nth-child(3) {
    animation-delay: -8.4s;
    animation-duration: 2.6s;
}

.parallax > use:nth-child(4) {
    animation-delay: -10.5s;
    animation-duration: 4.0s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(0,00px,0);
    }
    100% { 
        transform: translate3d(0,-60px,0);
    }
}

#page {
    position: relative;
    width: 800px;
    margin: auto;
    background-color: var(--black);
    padding: 0px 40px;
}

#header {
    position: relative;
    color: var(--white);
    padding-top: 24px;
    background-color: var(--black);
}

#title {
    color: var(--white);
    font-size: 32px;
    margin: auto 8px;
    height: 44px;
}

#contact {
    position: absolute;
    right: 0px;
    top: 24px;
    margin-right: 16px;
}

#email {
    text-align: right;
    margin: 4px;
}

#sites {
    display: flex;
    justify-content: space-between;
}

#sites a {
    margin: 0px 4px;
}

#logo {
    color: var(--white);
    position: relative;
    bottom: -8px;
    text-align: center;
    background-color: var(--black);
    transition-duration: var(--link-fade);
    height: 32px;
}

#logo img{
    width: 100%;
    object-fit: contain;
    display: block;
    position: relative;
    background-color: var(--color);
}

#snow {
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 70%;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: translateX(20%) translateY(20%);
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--black);
    border-radius: 50%;
}

#name {
    position: absolute;
    bottom: 70px;
    left: -32px;
    color: var(--white);
    font-size: 80px;
    margin-left: 32px;
    font-family: "BerryRotunda";
    width: 100%;
}

#role {
    position: absolute;
    bottom: 32px;
    color: var(--white);
    font-size: 24px;
    font-family: "BerryRotunda";
    width: 100%;
}

#content {
    height: 100%;
}

.section {
    color: var(--lightgray);
    font-size: 24px;
    margin: 8px;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 0px;
}

.entry {
    background-color: var(--darkgray);
    color: var(--lightgray);
    padding: 8px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 8px;
    position: relative;
}

.entry .main {
    display: flex;
}

.entry::after {
    content: url("./images/corner.png");
    position: absolute;
    transform: scaleX(0.25) scaleY(0.25);
    filter: brightness(0.25);
    top: -120px;
    left: -118px;
    pointer-events: none;
}


.entry::before {
    content: url("./images/corner.png");
    position: absolute;
    transform: scaleX(-0.25) scaleY(0.25);
    filter: brightness(0.25);
    top: -120px;
    right: -118px;
    pointer-events: none;
}

.entry .main .image img {
    object-fit: cover;
    max-width: 400px;
    max-height: 400px;
    margin: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--black);
    border-radius: 8px;
    transition-duration: var(--link-fade);
}

.entry .main .portrait {
    transition-duration: var(--link-fade);
    position: relative;
}

.entry .main .portrait img {
    object-fit: contain;
    max-width: 200px;
    max-height: 200px;
    margin: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--mediumgray);
    border-radius: 8px;
    transition-duration: var(--link-fade);
    transform: scaleX(-1);
    background-color: var(--black)
}

.entry .main .date {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 14px;
    color: var(--mediumgray);
}

.entry .main .text {
    margin: 8px;
}

.entry .main .text .title {
    color: var(--white);
    font-size: 24px;
}

.entry .main .text .info {
    color: var(--white);
    margin-bottom: 8px;
    font-size: 12px;
}

.entry .main .text .description {
    text-align: justify;
    line-height: 20px;
}

.entry .links {
    display: flex;
    align-items: center;
    margin: 2px;
}

.entry .links a {
    padding: 2px;
    margin: 2px;
}

.entry .expand {
    text-align: right;
    margin: 0px 8px;
    flex-grow: 2;
    color: var(--color);
    user-select: none;
    cursor: pointer;
    transition-duration:  var(--link-fade);
}

.entry .expand:hover {
    color: var(--white);
}

.entry .more {
    background-color: var(--black);
    overflow: hidden;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(1.0, 1.5, 0.5, 1.0);
    max-height: 0px;
}

.entry .more .thumbnails {
    margin: 2px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
}

.entry .more .thumbnails img {
    height: auto;
    width: 180px;
    margin: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--black);
    border-radius: 8px;
    cursor: pointer;
    transition-duration: var(--link-fade);
}

.hover:hover {
    cursor: pointer;
}

.hover:hover {
    border-color: var(--white) !important;
}

#viewer {
    display: none;
    background-color: #000000bb;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#viewer .image{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
}

#viewer .image img{
    display: block;
    width: 100%;
    height: 100%;
    cursor: auto;
    object-fit: scale-down;
    width: 90vw;
}

#footer {
    padding: 8px;
    color: var(--lightgray);
    text-align: center;
}

@media screen and (max-width: 900px) {
    #title {
        font-size: 3vw;
    }

    #page {
        width: 100%;
        padding: 0px;
        min-width: 400px;
    }

    #name {
        font-size: 14vw;
    }

    #role {
        font-size: 3vw;
    }

    .entry {
        margin: 8px 16px;
    }

    .entry .main {
        display: block;
    }

    .entry .main .image img{
        max-width: unset;
        width: 100%;
        margin: auto;
    }

    .entry .main .portrait img {
        max-width: unset;
        width: 100%;
        margin: auto;
    }

    .entry .more .thumbnails img {
        width: 49%;
        margin: 0px;
    }
}